extends layout

block content
  h1= title

  form(id='JeepForm', action="/resource/resource/jeep", method="POST")
    div.form-group
        label.costumeAttr(for='jeepname') Jeep name
        input#costumetype(type='text', name='jeepname')
    div.form-group
        label.costumeAttr(for='enginemodel') Jeep enginemodel
        input#size(type='text', name='enginemodel')
    div.form-group
        label.costumeAttr(for='jeepprice') Jeep jeepprice
        input#cost(type='number', name='jeepprice')
    input(type="submit")

  script.
    document.forms['JeepForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

